.action-card.is-green {
  color: rgb(19, 161, 0);
  border-color: rgb(19, 161, 0);
}
/* Action Button */

/* Lista Identificação */


.content {
  grid-column: 1 / -1;
  grid-row: span 5;

  display: grid;
  grid-template-rows: 30px auto;
  margin: 10px;
}


.descricao {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 10px;
  row-gap: 10px;
}
.resultadoSelecionado {
  margin-top: 0;
  padding-left: 5px;
  font-size: 0.6em;
}

.encaminhamentos {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-auto-rows: minmax(100px, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.cardbox {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #222424;
  margin: 0px;
  padding: 10px;
  row-gap: 5px;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
  cursor: pointer;

  text-justify: center;
  text-align: center;
}
.cardbox:hover {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}


/* Estilo para os cards */
.cardbox.is-info {
  border-top: 2px solid var(--info-color);
}

.cardbox.is-agro {
  border-top: 2px solid var(--agro-color);
}

.cardbox.is-amb {
  border-top: 2px solid var(--amb-color);
}

.professores-selecionados {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 5px;
  margin: 5px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 0px 5px;

  border-radius: 3px;
  background: rgba(98, 98, 98, 0.1);
  font-size: .8em !important;
}
.chip > .chip-text {
  padding-left: 5px;
  text-transform: capitalize;

}

.chip > .chip-close {
  /* margin: 5px;   */
  font-size: 1.4em;
  cursor: pointer;
  padding-right: 2px;
}


/* Modal */
.modal-close-btn {
  padding: 10px;
  cursor: pointer;
}

.modal-card-body > .avaliacao-aluno {
  font-weight: 300;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

/* Modal */

.avaliacao-aluno > .info {
	padding: 5px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	font-size: 1.2em;
	box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.gray-text {
	color:rgb(98, 98, 98) !important;
}

.input,.text-area {
  /* border: none !important; */
  box-shadow: none !important;
  color: rgb(0, 0, 0) !important;
}

.input {
  width: 100%;
}

.modal-card-head, .modal-card-foot {
  padding: 5px 10px !important;
}

.modal-card-title {
  padding-left: 5px;
}
.modal-card-body > .columns {
  margin: 0px !important;
}
.modal-card-body > .columns > .column {
  /* padding: 5px !important; */
  padding: 0;
  padding-right: 10px;
}

.modal-card-body > .field {
  margin-top: 5px;
}

.dropdown-trigger {
  width: 100%;
}




/* PAGE HEADER */

.card-info {
  display: grid;
  align-items: center;
  justify-items: left;
  grid-template-rows: repeat(auto-fill, 1fr);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #222424;
  margin: 0px;
  padding: 20px 20px;
  grid-gap: 3px;
  box-shadow: 0 11px 11px 4px rgba(0, 0, 0, 0.3);
	transition: box-shadow ease-in-out 0.4s;
}

.card-info > button {
	margin-top: 5px;
	margin-bottom: 0;
	justify-self: right;

}
.page-head {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 5px;
}
.page-head > h4 {
  grid-column: 1 / -1;
  justify-content: center;
  justify-self: center;
}

.card-info {
  font-size: 0.9em;
  font-weight: 300;
}

.card-info > span:first-child {
  font-size: 1em;
  font-weight: 600;
}


.descricao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resultadoSelecionado {
  margin-top: 0;
  padding-left: 5px;
  font-size: 0.6em;
}
