@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.main {
  display: grid;
  grid-template-areas: "content side";

  grid-gap: 5px;
  grid-template-columns: 1fr 12rem;

  margin: 0px;
  padding: 0px;
}

.content {
  grid-area: content;
  padding: 0px 10px;
}

.reuniao {
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
}
.side {
  grid-area: side;

  display: grid;
  grid-template-rows: auto .6fr 1fr;
  row-gap: 5px;
}

.titulo-avaliacoes {
  margin-bottom: 1rem;
}

.turma-info {
  display: grid;
  align-items: center;
  justify-items: left;
  border-radius: 3px;
  color: #222424;
  margin: 0px;
  padding: 15px 10px;
  font-size: 0.7em;
  font-weight: 300;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2);
}

.turma-info span:first-child {
  font-size: 0.75rem;
  font-weight: 400;
  color: #121313;
}

.reuniao-info {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-rows: .4fr .4fr; 
  font-weight: 300;
  font-size: 0.75em;
  padding: 5px 10px;
}

.reuniao-info > div {
  /* border: solid red 1px; */
  justify-self: center;
  align-self: center;
}

.reuniao-info .info-titulo {
  font-weight: 400;
}

.reuniao-info .resultados {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  align-items: left;
}

.reuniao-info .quantidade {
  font-weight: 600;
  font-size: 0.9rem;
  padding-left: 5px;
}

.reuniao-info .resultado-quantidade {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.color-positivo,
.color-negativo,
.color-aprendizado,
.color-experiencia {
  min-height: 1.2rem;
}

.color-experiencia {
  border: 1px solid #7b61b2;
}

.color-aprendizado {
  border: 1px solid #ffa751;
}
.color-negativo {
  border: 1px solid #ff5151;
}
.color-positivo {
  border: 1px solid #3aafae;
}

.actions {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(30px, 0.2fr));
  grid-gap: 5px;
  padding-right: 10px;
}

/* TABS */
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

/* TABS */

/* avaliacoes */
.avaliacoes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-auto-rows: minmax(5rem, 1fr);
  grid-gap: 7px;
  padding-left: 5px;
  animation: fadeIn 0.7s ease-in-out;
}

.avaliacao {
  display: grid;
  align-items: center;
  justify-items: left;

  grid-template-rows: 1rem auto 1rem;
  background-color: #fff;
  border-radius: 2px;

  color: #222424;
  margin: 0px;
  padding: 7px 6px;

  box-shadow: 0 5px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  grid-gap: 5px;
}

.avaliacao .tipo-avaliacao {
  font-size: 0.65em;
  font-weight: 400;
  color: rgb(98, 98, 98) !important;
}
.avaliacao .titulo-avaliacao {
  font-size: 0.75em;
  font-weight: 400;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  padding: 0px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;

  border-radius: 5px;
  background: rgba(226, 226, 226, 0.445);
  font-size: 0.7rem !important;

  cursor: pointer;
  text-transform: capitalize;
}

.mostrar-mais {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;

  background: rgba(202, 201, 201, 0.459);
  color: rgba(158, 158, 158, 0.774);
  border-radius: 5px;
  max-width: 7rem;
  font-size: 1.5rem;
}

.avaliacao.positiva,
.avaliacao.negativa,
.avaliacao.experiencia,
.avaliacao.ensino {
  border-left: 4px solid;
}
.modal-avaliacao.positiva,
.modal-avaliacao.negativa,
.modal-avaliacao.experiencia,
.modal-avaliacao.ensino {
  border-left: 5px solid;
  border-radius: 5px;
  
}

.avaliacao.positiva,
.modal-avaliacao.positiva
{
  border-color: #3aafae;
}
.avaliacao.negativa,
.modal-avaliacao.negativa
{
  border-color: #ff5151;
}
.avaliacao.experiencia,
.modal-avaliacao.experiencia{
  border-color: #7b61b2;
}
.avaliacao.ensino,
.modal-avaliacao.ensino {
  border-color: #ffa751;
}


/* avaliacoes */



/* MODAL ENSINO */


/* MODAL ENSINO */

@media screen and (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "side"
      "content";
  }
  .side {
    grid-template-rows: 1fr;
  }
}

.modal-close-btn {
  padding: 10px;
  cursor: pointer;
}

.modal-card-body > .modal-ensino {
  font-weight: 300;
  font-size: 0.9em;
  
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
/* Modal */

.modal-ensino  .info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  /* box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  align-content: center;
  align-items: center;
  align-self: center;
}
.modal-ensino .info-alunos {
}
.modal-ensino .disciplina {
  font-size: 2rem ;
}


.modal-ensino .titulo-estudante {
  font-size: 1.1rem !important;
}
.modal-ensino .chips {
  padding: 10px 5px;
}
.modal-ensino .chip {
  padding: 5px 10px;
  font-weight: 300;
  border-radius: 5px;
  background: rgba(226, 226, 226, 0.596);
  font-size: .9rem !important;

  cursor: pointer;
  text-transform: capitalize;
}

.gray-text {
  color: rgb(98, 98, 98) !important;
}
