@import url(https://fonts.googleapis.com/css?family=Roboto:300,400, 700);

:root {
  --size-sidebar: 40px;

  /* Cores Base Layout */
  --base-color: #eeb220;
  --secondary-color: #c1ee20;
  --terciary-color: #ee4c20;

  /* Cores Cursos */
  --info-color: rgb(40, 52, 153);
  --amb-color: rgb(37, 165, 33);
  --agro-color: #830c0c;
}

body {
  margin: 0;
  padding: 0;
  color: #2f2f2d !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.75rem;
  font-weight: 500;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  z-index: 1;
  cursor: pointer;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: minmax(40px, 1fr);
  grid-template-columns: minmax(var(--size-sidebar), 1fr);
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  color: black;
  display: grid;
  align-items: center;
  justify-items: right;
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  grid-template-columns: auto;
  margin: 5px;
}

.typeuser {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 40px;
}

/* 
        SIDEBAR
*/
.sidenav-mobile {
  grid-area: sidenav;
  display: grid;
  grid-template-columns: 1fr;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  width: 150px;
  position: fixed;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 4; /* Needs to sit above the hamburger menu icon */
  background-color: var(--base-color);
}

.sidenav-mobile.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__close-icon-mobile {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__list {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  align-items: center;
  justify-self: center;
  grid-gap: 25px;
  padding: 0;
  margin: 0;
  list-style: none;
  /* padding-top: 50px; */
}

.first-item {
  grid-row: 1 / span 2;
  align-self: flex-start;
  justify-content: center;
}

.logo-icon {
  width: 1.2em;
  height: 1.2em;
  margin-top: 20px;
  font-size: 1.3em;
}

.sidenav__list-mobile {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  align-items: center;
  justify-self: center;
  /* grid-gap: 10px; */
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 50px;
}

.sidenav__list-item {
  /* padding: 20px 20px 20px 40px;
    color: #ddd; */
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;
  padding: 0;
  margin: 0;
}
.sidenav__list-item-mobile {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(100px, 1fr);
  align-items: center;
  justify-items: center;
  text-align: start;
  color: black;
  padding: 0;
  margin: 0;
  text-align: left;
}

.sidenav-item-text {
  align-self: left;
  justify-self: start;
  font-size: 0.7em;
  font-weight: 500;
}
.sidenav {
  display: none;
}

/* 
        SIDEBAR
*/

/* Specifies the size of the svg icon */
img.icone {
  width: 1.3em;
  height: 1.3em;
  text-emphasis-color: white;
  cursor: pointer;
}
.main {
  grid-area: main;
  margin: 20px;
  display: grid;
  row-gap: 10px;
}

.main-header {
  display: grid;
  /* background-color: #e3e4e6; */
  padding: 5px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  grid-gap: 5px;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin-top: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #d3d3;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

/* FOOTER */

.footer {
  grid-area: footer;
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;
  grid-template-rows: 1fr;
  background: transparent;
  font-size: 8px;
  font-weight: 300;
}
.footer_nepeti {
  display: grid;
  justify-items: center;
  align-items: center;
}
.footer_nepeti > .logo_nepeti {
  height: 3rem;
  width: auto;
}
/* FOOTER */

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: var(--size-sidebar) 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "footer footer";
  }

  .sidenav {
    grid-area: sidenav;
    display: grid;
    grid-template-columns: 1fr;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 150px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all 0.6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: var(--base-color);
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
    width: 40px;
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

.bold {
  font-weight: 500 !important;
}

/* Fonts */

.titulo.is-1 {
  font-size: 3rem;
}
.titulo.is-2 {
  font-size: 2.5rem;
}
.titulo.is-3 {
  font-size: 2rem;
}
.titulo.is-4 {
  font-size: 1.5rem;
}
.titulo.is-5 {
  font-size: 1.25rem;
}
.titulo.is-6 {
  font-size: 1rem;
}
.titulo.is-7 {
  font-size: 0.75rem;
}
.subtitulo {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  /* margin: 5px; */
}
.subtitulo strong {
  font-weight: 600;
}
.subtitulo.is-1 {
  font-size: 3rem;
}
.subtitulo.is-2 {
  font-size: 2.5rem;
}
.subtitulo.is-3 {
  font-size: 2rem;
}
.subtitulo.is-4 {
  font-size: 1.5rem;
}
.subtitulo.is-5 {
  font-size: 1.25rem;
}
.subtitulo.is-6 {
  font-size: 1rem;
}
.subtitulo.is-7 {
  font-size: 0.85rem;
}
.subtitulo.is-8 {
  font-size: 0.75rem;
}
.subtitulo.is-9 {
  font-size: 0.65rem;
}
.subtitulo.is-10 {
  font-size: 0.5rem;
}

.no-border > .dropdown-trigger > .button {
  border-width: 0px;
}

.no-border > .dropdown-trigger > .button:focus {
  border-width: 0px;
  box-shadow: none;
}

.toasts {
  background: transparent;
  color: black;
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px;
}
.toast {
  background-color: rgb(255, 255, 252);
  border-radius: 2px;
  box-shadow: 1 0.5em 1em -0.125em rgba(10, 10, 10, 0.8),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #222424;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
  cursor: pointer;

  font-size: 0.7em;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  min-width: 200px;
}

.toast-title {
  font-weight: 600;
}
.toast-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
}
.toast-time {
  font-size: 0.9em;
  font-weight: 300;
  color: #7a7676;
}

.toast-time {
  /* margin-right: 5px; */
}

.toast.success {
  border-left: solid 4px green;
}
.toast.error {
  border-left: solid 4px red;
}
.toast.warning {
  border-left: solid 4px yellow;
}
.toast.info {
  border-left: solid 4px blue;
}

.toast-content {
  margin-top: 10px;
  margin-bottom: 5px;
}

.label {
  font-weight: 400 !important;
  margin-top: .2em !important;
}
.label:not(:last-child) {
  margin-bottom: .2em !important;
}
.dropdown-menu {
  min-width: 100% !important;
 }

 .input {
   /* border-radius: 2px !important; */
 }

 
.no-border {
  border: none;
}

/* .dropdown-menu .text-capitalize > .dropdown-content >  */
.dropdown-menu.text-capitalize > .dropdown-content > .dropdown-item {
  text-transform: capitalize;
}

.flex {
  display: flex;
}
.align-end {
  align-items: flex-end;
  flex-wrap: wrap;
}