@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:root {
  --base-color: #f5d88e;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300, 400, 700);

:root {
  --size-sidebar: 40px;

  /* Cores Base Layout */
  --base-color: #eeb220;
  --secondary-color: #c1ee20;
  --terciary-color: #ee4c20;

  /* Cores Cursos */
  --info-color: rgb(40, 52, 153);
  --amb-color: rgb(37, 165, 33);
  --agro-color: #830c0c;
}

body {
  margin: 0;
  padding: 0;
  color: #2f2f2d !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.75rem;
  font-weight: 500;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    "main"
    "footer";
  height: 100vh;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 100vh;
  display: grid;
  grid-template-columns: 45vw auto;
  /* grid-gap: 10px; */
}

/* FOOTER */

.footer {
  grid-area: footer;
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;
  grid-template-rows: 1fr;
  background: transparent;
  font-size: 8px;
  font-weight: 300;
}
.footer_nepeti {
  display: grid;
  justify-items: center;
  align-items: center;
}
.footer_nepeti > .logo_nepeti {
  height: 3rem;
  width: auto;
}
/* FOOTER */

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "footer";
  }
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  flex-flow: column;
  background: #a4c4b6; /* fallback for old browsers */

  background: #83a4d4;

  /* background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
  background: linear-gradient(to right, #ffd194, #70e1f5);  */
}

/* .information > .head, .information > .text {
  color: white;
} */
.information {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-self: center;
  text-justify: center;
}
.text,
.head {
  font-size: 0.9rem;
  color: #f7ecec !important;
  font-weight: 300;
}
.head {
  font-size: 1.3rem;
  font-weight: normal;
}
.img {
  margin-top: 50px;
  height: 17rem;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 10px;
  /* background: linear-gradient(#222424, #f7b308); */
}

.login {
  min-width: 20rem;
}

.login > .title {
  margin: 15px 0;
  color: #333;
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3rem;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  /* display: block; */
  text-align: right;
  text-decoration: none;
  color: #999 !important;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: var(--base-color);
}

.btn {
  align-self: center;
  width: 70%;
  height: 50px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #f7b308, #f3c44c, #f7b308);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;

  /* button color #696969 */
  /* cor label #5a5e57 */
  /* cor fonte #767875 */
}
.btn:hover {
  background-position: right;
}

.login {
  display: grid;
  grid-template-columns: 1fr;
}
.login > .field > .label {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 300;
  color: #5a5e57;
  font-size: 1rem;
}
.login > .field > .control > .input {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(194, 191, 191);
  border-radius: 0px;
  box-shadow: none;
}
.login > .field > .control > .input:focus {
  border-color: none;
  box-shadow: none;
}

.submit {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  justify-items: center;
  text-justify: center;
  justify-self: center;
  flex-flow: column;
}

.new-user {
  align-self: center;
}
span,
a {
  text-align: center;
  color: #999 !important;
  font-size: 0.9rem;
  transition: 0.3s;
}

span:hover,
a:hover {
  color: var(--base-color);
}

@media screen and (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
  }
  .container-img {
    display: none;
  }
}

/* TOASTS */

.toasts {
  background: transparent;
  color: black;
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 50;
}
.toast {
  background-color: rgb(255, 255, 252);
  border-radius: 2px;
  box-shadow: 1 0.5em 1em -0.125em rgba(10, 10, 10, 0.8),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #222424;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
  cursor: pointer;

  font-size: 0.7em;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  min-width: 200px;
}

.toast-title {
  font-weight: 600;
}
.toast-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
}
.toast-time {
  font-size: 0.9em;
  font-weight: 300;
  color: #7a7676;
}

.toast.success {
  border-left: solid 4px green;
}
.toast.error {
  border-left: solid 4px red;
}
.toast.warning {
  border-left: solid 4px yellow;
}
.toast.info {
  border-left: solid 4px blue;
}

.toast-content {
  margin-top: 10px;
  margin-bottom: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
