.modal-close-btn {
  padding: 10px;
  cursor: pointer;
}

.modal.visualizar .modal-card-head {
  padding-bottom: 5px !important;
}

/* MODAL ENSINO */

.modal-card-body > .modal-ensino {
  font-weight: 300;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.modal-ensino .info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 5px;
}
.modal-ensino .disciplina {
  font-size: 2rem;
}

.modal-ensino .observacao {
  padding: 5px 5px;
}

.modal-ensino .titulo-estudante {
  font-size: 1.1rem !important;
}
.modal-ensino .chips {
  padding: 10px 5px;
}
.modal-ensino .chip {
  padding: 5px 10px;
  font-weight: 300;
  border-radius: 5px;
  background: rgba(226, 226, 226, 0.596);
  font-size: 0.9rem !important;

  cursor: pointer;
  text-transform: capitalize;
}

.gray-text {
  color: rgb(98, 98, 98) !important;
}

/* MODAL ENSINO */

/* MODAL EXPERIENCIA */

.modal-card-body > .modal-experiencia {
  font-weight: 300;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
/* Modal */

.modal-experiencia .info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  /* box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  align-content: left;
  align-items: left;
}

.modal-experiencia .titulo {
  font-size: 1.3rem;
}

.modal-experiencia .observacao {
  padding: 10px 5px;
}

.modal-experiencia .titulo-disciplina {
  font-size: 1.1rem !important;
}
.modal-experiencia .chips {
  padding: 6px 5px;
}
.modal-experiencia .chip {
  padding: 5px 10px;
  font-weight: 300;
  border-radius: 5px;
  background: rgba(226, 226, 226, 0.596);
  font-size: 0.9rem !important;

  cursor: pointer;
  text-transform: capitalize;
}

.chip-categoria {
  padding: 5px 6px;
  font-weight: 300;
  border-radius: 10px;
  font-size: 0.8rem ;
  text-transform: capitalize;
  max-width: 8rem;
  text-align: center;

  border: solid 1px rgb(98, 98, 98);
  color: rgb(98, 98, 98);
}

.chip-categoria.positivo {
  border: solid 1px #3aafae;
  color: #3aafae;
}
.chip-categoria.negativo {
  border: solid 1px #ff5151;
  color: #ff5151;
}

.gray-text {
  color: rgb(98, 98, 98) !important;
}

/* MODAL EXPERIENCIA */

/* MODAL DIAGNOSTICA */

.modal-card-body > .modal-diagnostica {
  font-weight: 300;
  font-size: 0.9em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.modal-diagnostica .info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 5px;
  align-content: left;
  align-items: left;
}

.modal-diagnostica .titulo {
  font-size: 1.3rem;
}

.modal-diagnostica .observacao {
  padding: 10px 5px;
}

.modal-diagnostica .titulo-disciplina {
  font-size: 1.1rem !important;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.modal-diagnostica .chips {
  padding: 6px 5px;
}
.modal-diagnostica .chip {
  padding: 5px 5px;
  font-weight: 300;
  border-radius: 5px;
  background: rgba(226, 226, 226, 0.596);
  font-size: 0.9rem !important;

  cursor: pointer;
  text-transform: capitalize;
}

.diagnostica .chip-categoria {
    margin-top: 2px;
    margin-left: 2px;
    font-size: 0.7rem;
}

/* MODAL DIAGNOSTICA */
