:root {
  --info-color: rgb(40, 52, 153);
  --amb-color: rgb(37, 165, 33);
  --agro-color: #830c0c;
}

.coordenadores,
.conselheiros,
.representantes,
.professores {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-auto-rows: minmax(80px, 90px);
  grid-gap: 10px;
  margin: 10px;
}

.coordenacao .head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.conselho .head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.representacao .head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.cardbox {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border-radius: 2px;

  color: #222424;
  margin: 0px;
  padding: 10px;
  row-gap: 0px;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
  cursor: pointer;

  text-justify: center;
  text-align: center;
}
.card-coordenador p.nome {
  text-transform: capitalize;
}

.cardbox:hover {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

/* Estilo para os tiles */
.cardbox.is-info {
  /* background: green; */
  border-top: 2px solid var(--info-color);
}

.cardbox.is-agro {
  border-top: 2px solid var(--agro-color);
}

.cardbox.is-amb {
  border-top: 2px solid var(--amb-color);
}

.card-coordenador p:nth-child(1) {
  font-size: 0.75em;
}
.card-coordenador p:nth-child(2) {
  font-size: 0.9rem;
}
.card-coordenador p:nth-child(2) {
}

.card-conselheiro p:nth-child(1) {
  font-size: 0.75rem;
}
.card-conselheiro p:nth-child(2) {
  font-size: 0.9rem;
}
.card-conselheiro p:nth-child(3) {
  font-size: 0.8rem;
}

.card-representante p:nth-child(1) {
  font-size: 0.75rem;
}
.card-representante p:nth-child(2) {
  font-size: 0.95rem;
}

.card-professor p:nth-child(1) {
  font-size: 1rem;
}

.card-professor p:nth-child(2) {
  font-size: 0.75rem;
}

.modal-close-btn {
  padding: 10px;
  cursor: pointer;
}

.modal.conselheiro .modal-card-body,
.modal.coordenador .modal-card-body,
.modal.representante .modal-card-body,
.modal.professor .modal-card-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: center;

  min-height: 200px;
}

/* Modal Coordenador */
.modal.coordenador .info-curso {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 10px 15px;
  /* margin: 20px 30px; */
}

.coordenador .info-curso p:nth-child(1) {
  font-size: 1rem;
}
.coordenador .info-curso p:nth-child(2) {
  font-size: 1.2rem;
}
.coordenador .info-curso p:nth-child(3) {
  font-size: 1rem;
}
/* Modal Coordenador */

/* Modal Conselheiro */
.modal.conselheiro .info-turma {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.conselheiro .info-turma p:nth-child(1) {
  font-size: 1.4rem;
}
.conselheiro .info-turma p:nth-child(2) {
  font-size: 1rem;
}
.conselheiro .info-turma p:nth-child(3) {
  font-size: 0.9rem;
}
/* Modal Conselheiro */

/* Modal Representante */

.modal.representante .info-turma {
  display: flex;

  flex-flow: column;
  justify-self: center;
  align-items: left;
  padding: 15px 10px;
}

.modal.representante .modal-card-body {
  align-items: center;
  justify-items: center;
}

.modal.representante .modal-card-body {
  row-gap: 20px;
}

.representante .info-turma p:nth-child(1) {
  font-size: 1.2rem;
}
.representante .info-turma p:nth-child(2) {
  font-size: 1rem;
  padding: 2px;
}
.representante .info-turma p:nth-child(3) {
  padding: 2px;
  font-size: 0.9rem;
}
/* Modal Representante */

/* Modal Professor */

.modal.professor .info-professor {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 10px 15px;
  /* margin: 20px 30px; */
}

/* Modal Professor */
