@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

.main {
  grid-template-rows: 1fr 2fr 5fr;
}

.detalhes {
  font-family: 'Poppins', sans-serif;
}

.detalhes .principal{
  font-size: 1.2rem !important;
  font-weight: 500;
}
.detalhes .descricao {
  font-size: .95rem;
  color: #909090;
  font-weight: 300; 
  padding-left: 5px;
}
.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  padding: 20px 20px;
}

.overview .card-info {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
  align-items: left;
  align-self: center;
  font-family: "Popins", sans-serif;
}

.overview .card-info .descricao {
  font-size: 0.9rem;
  color: #909090;
  font-weight: 300;
}
.overview .card-info .resultado {
  font-size: 1.6rem;
  font-weight: 500;
  color: #242222;
  padding-left: 10px;

}


.alunos {
  padding-left: 5px;
}
.alunos h1 {
  font-size: 1.3rem !important;
  font-weight: 400;
  
}