:root {

    /* Cores Base Layout */
  --base-color: #eeb220;
  --secondary-color: #c1ee20;
  --terciary-color: #ee4c20;

}
.head-turma {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(60px, 1fr)); */
  grid-template-rows: 1fr;
  font-size: 0.8em;

  font-weight: normal;
}
.info-turma {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(auto-fit, minmax(10px, 1fr)); */
  grid-template-rows: repeat(3, 2em);
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  grid-gap: 5px;
  padding: 10px;
}

.info-turma p {
  font-size: 1em;
  font-weight: 400;
}

.info {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  grid-gap: 5px;
  padding: 10px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 5px;
  font-size: 8px;
}
.actions .action-card {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  align-items: center;
  justify-items: center;
  text-align: center;
  place-items: center;

  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
  font-size: 1.2em;
  cursor: pointer;
}

.actions .action-card .logo {
  font-size: 2em;
  margin-top: 2em;
  align-self: center;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(60px, 1fr)); */
  /* grid-template-rows: 1fr; */
  font-weight: normal;
  grid-gap: 10px;
}

.info-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  grid-gap: 0;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
}

.info-cards {
  grid-column-end: span 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 5px;
  margin-top: 10px;
}

.info-card {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 2em 1fr;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  margin: 0px;
  padding: 0px;
  grid-gap: 0;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow ease-in-out 0.4s;
}

.info-card .titulo {
  display: grid;
  font-size: 1em;
  font-weight: 500;
  align-content: center;
}

.info-card .subtitulo {
  display: grid;
  font-size: .8em;
  font-weight: 400;
  align-content: initial;
}

.grafico {
  background-color: var(--base-color);
  grid-column-end: span 2;
}

.materias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 12px;
  font-weight: normal;
  grid-gap: 10px;
}

/* Lista */

.lista ul {
  position: relative;
  /* width: 200px; */
  /* margin: 100px auto 0; */
  padding: 5px;
  box-sizing: border-box;
  /* background: #eeb220; */
  /* box-shadow: inset 0 0 15px rgba(0, 0, 0, 0); */
}

.lista ul li {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  list-style: none;
  color: black;
  margin: 5px 0;
  transition: 0.5s;
}

.lista ul li:nth-child(1) {
  background: rgba(255, 255, 255, 0.6);
}
.lista ul li:nth-child(2) {
  background: rgba(255, 255, 255, 0.5);
}
.lista ul li:nth-child(3) {
  background: rgba(255, 255, 255, 0.4);
}
.lista ul li:nth-child(4) {
  background: rgba(255, 255, 255, 0.3);
}
.lista ul li:nth-child(5) {
  background: rgba(255, 255, 255, 0.2);
}
.lista ul li span:nth-child(1) {
  width: 30px;
}
.lista ul li span:nth-child(2) {
  width: 200px;
}
.lista ul li span:nth-child(3) {
  width: 50px;
  text-align: center;
}

.lista ul li:hover {
  transform: scale(1.04);
  background: transparent;
}

/* Reverse List */
.lista-reverse ul {
  position: relative;
  /* width: 200px; */
  /* margin: 100px auto 0; */
  padding: 5px;
  box-sizing: border-box;
  /* background: #eeb220; */
  /* box-shadow: inset 0 0 15px rgba(0, 0, 0, 0); */
}
.lista-reverse ul li {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  list-style: none;
  color: black;
  margin: 5px 0;
  transition: 0.5s;
}

.lista-reverse ul li:nth-child(5) {
  background: rgba(255, 255, 255, 0.5);
}
.lista-reverse ul li:nth-child(4) {
  background: rgba(255, 255, 255, 0.4);
}
.lista-reverse ul li:nth-child(3) {
  background: rgba(255, 255, 255, 0.4);
}
.lista-reverse ul li:nth-child(2) {
  background: rgba(255, 255, 255, 0.3);
}
.lista-reverse ul li:nth-child(1) {
  background: rgba(255, 255, 255, 0.2);
}
.lista-reverse ul li span:nth-child(1) {
  width: 30px;
}
.lista-reverse ul li span:nth-child(2) {
  width: 200px;
}
.lista-reverse ul li span:nth-child(3) {
  width: 50px;
  text-align: center;
}

.lista-reverse ul li:hover {
  transform: scale(1.04);
  background: transparent;
}

.lista-info ul {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0);
  letter-spacing: 0px;
}

.lista-info ul li {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  list-style: none;
  color: black;
  margin: 2px 0;
  transition: 0.5s;
}

.lista-info ul li span:nth-child(1) {
  width: 3em;
  text-align: center;
}
.lista-info ul li span:nth-child(2) {
  width: 20em;
  float: left;

}

.lista-lideres ul {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0);
  letter-spacing: 0px;
}

.lista-lideres ul li {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  list-style: none;
  color: black;
  margin: 2px 0;
  transition: 0.5s;
}

.lista-lideres ul li span:nth-child(1) {
  width: 7em;

}
.lista-lideres ul li span:nth-child(2) {
  width: 12em;
}
